###################################################
########## App. Dockerization Automation ##########
###################################################

#### ---------------------------------
#### ---- App:Container:Host:Info ----
#### ---------------------------------
DOCKER_HOST_IP={{DOCKER_HOST_IP}}
DOCKER_HOST_NAME={{DOCKER_HOST_NAME}}

#### ---------------------------------
#### ---- App:Container:Host:Info ----
#### ---------------------------------
#DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket

###################################################
########### Container-based Platform ##############
###################################################

#### -------------------------------------
#### ---- Docker:Build:Specifications ----
#### -------------------------------------
USER_ID=1000
GROUP_ID=1000

#### -----------------------------------
#### ---- Docker:Run:Specifications ----
#### -----------------------------------
#### Ref: https://vsupalov.com/docker-arg-env-variable-guide/
#### Rider configuration for run.sh ####
# - Use "#VOLUMES" and "#PORTS" to indicate that the variables for run.sh"
# - To ignore line, use "##" (double) in the beginning, e.g. "##VOLUMES" and "##PORTS"
# - To indicate that the variables for run.sh", use only one "#",  e.g. "#VOLUMES" and "#PORTS"
##PORTS_LIST="1234:1234/udp"
##PORTS_LIST="8080:8080"

#### ---- Volume Mapping Examples: ----
##VOLUMES_LIST="./data:data ./workspace:workspace"
##VOLUMES_LIST="data workspace"
##VOLUMES_LIST="app data workspace /var/run/docker.sock:/var/run/docker.sock"
##VOLUMES_LIST="/var/run/docker.sock:/var/run/docker.sock app data workspace"
##VOLUMES_LIST="/run/dbus:/host/run/dbus ./data:data app:/home/developer/app workspace:workspace "
##VOLUMES_LIST="./app:app ./data:data ./workspace:workspace"

#VOLUMES_LIST="app data workspace /dev/shm:/dev/shm  /var/run/docker.sock:/var/run/docker.sock /tmp/.X11-unix:/tmp/.X11-unix"

################################################################################
#### ---- TO-DO HERE: Modify the line below to open the ports mapping: ---- ####
################################################################################
#### ---- Examples in Docker port mapping automation by './run/sh': ----
#### ---- You need to change to only 1 '#' to let "./run.sh" to interpret it.
##PORTS_LIST="18080:8000 17200:7200"
##PORTS_LIST="123:123/udp"
##PORTS_LIST="12781:12781"

## -- APP:Container:Guest:Setup -- ##
## ##PORTS_LIST="7000:7000"
#PORTS_LIST="5901:5901 6901:6901"

##################################################
#### ---- Window Manager: xfce or icewm: ---- ####
##################################################

WINDOW_MANAGER=xfce

#### ---- VNC Color Depth ----
# (default: hence, no need to setup)
#VNC_COL_DEPTH=24

#### ---- VNC Resolution (1280x1024, 1920x1280, etc.): ----
#VNC_RESOLUTION=800x600
#VNC_RESOLUTION=1024x800
VNC_RESOLUTION=1280x800
#VNC_RESOLUTION=1280x1024
#VNC_RESOLUTION=1920x1080

#### ---- VNC Password ----
VNC_PW="vncpassword"
